.LandingPage {
    background-size: cover; 
    /* position: fixed;  */
    width: 100%;
}

.intro{
    width: 85%;
    margin: auto;
    color: #72bda3;
    text-align: center;
    margin-top: 35%;
}

.intro h2{
    font-size:9vw
}
.intro h3{
    font-size:5vw;
    text-align: left;
}
.intro hr{
    width: 100%;
    background-color: #94e8b4;
    border: none;
    height: 2px;
}
.contact-links{
    position: absolute;
    display: flex;
    right: 15px;
    bottom: 55px;
    border-top: 2px solid #94e8b4;
    padding-right: 50px;
    padding-top: 5px;

}
.contact-links a{
    color: #94e8b4;
    margin-left: 10px;
}


@media only screen and (min-width: 700px) {
    .intro{
        width: 55%;
        margin-top: 10%;
    }
    .intro h2{
        font-size:4vw
    }
    .intro h3{
        font-size:1.5vw
    }
    .contact-links{
        flex-direction: column;
        position: absolute;
        right: 35px;
        bottom: 35px;
        border-right: 2px solid #94e8b4;
        padding-bottom: 50px;
        padding-right: 10px;
        border-top: 0;
    
    }
    .contact-links a{
        color: #94e8b4;
        margin-bottom: 10px;
    }
  }