.LandingPage {
    background-size: cover; 
    /* position: fixed;  */
    width: 100%;
}

.intro{
    width: 95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #72bda3;
    text-align: center;
}

.intro h2{
    font-size:9vw
}
.intro h3{
    font-size:5vw
}
.intro hr{
    width: 90%;
    background-color: #94e8b4;
    border: none;
    height: 2px;
}


@media only screen and (min-width: 700px) {
    .intro h2{
        font-size:4.5vw
    }
    .intro h3{
        font-size:2.5vw
    }
    .intro hr{
        width: 70%;
    }
    
  }