.about{
    display: flex;
    flex-direction: column;
}
.about h2 {
    color: #72bda3;
    text-align: center;
    padding: 20px 0;
    border-bottom: 5px solid #72bda3;
    
}
.about img{
    margin: auto;
    width: 65%;
    background-color: black;
    border-radius: 5px;
}
.about .photo-self{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5vw;
}

.about p{
    margin: auto;
    padding-bottom: 9px;
    color: #94e8b4;
}

.about ul{
    align-items: left;
    text-align: left;
}

.about li{
    list-style: none;
    margin-bottom: 7%;  
    color: #94e8b4;
}

@media(min-width: 700px)  {
    .about{
        width: 75%;
        margin: auto;
        margin-top: 35px;
    }

    .about .first-group {
        margin: auto;
    }
    .bio{
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }
    .about img{
        background-color: #1b3a4b;
        width: 90%;
    }
    .about .photo-self{
        background-color: #1b3a4b;
        justify-content: center;
        flex-grow: 1;
        margin: auto;
    }

    .about .text{
        width: 100%;
        text-align: left;
    }
    .second-group{
        display: flex;
        justify-content: space-evenly;
        margin-right: 25px;
    }
    .about h2 {
        margin: 0; 
        font-size: 25px;
    }
    .about li{
        font-size: 18px;  
    }
  }