* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #edf6f9;
}
.App {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app-main{
  text-align: center;
  margin: 0;
  padding: 0;
}
.logo{
  font-family:'Montserrat Alternates' ;
}
.App footer {
  display: none;
}



@media (prefers-reduced-motion: no-preference) {

}

@media(min-width: 600px)  {
  .App footer {
    display: block;
    background-color: #edf6f9;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
  }

}