.work{
     display: flex;
     flex-direction: column;
     background-color: #1b3a4b;
     margin-top: 25px;
     color: #94e8b4;
}
.work .wrapper{
    width: 100%;
    color: #1b3a4b;
}
.work .item{
    padding-top: 35px;
    background-color: #f5f6f7;
    margin: 35px 0px;
}
.work h3{
    color: #94e8b4;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 5%;
}
.work img {
    width: 95%;
    margin: auto;
}
.work-title{
    color: #06BC9B;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.work-summary{
    text-align: left;
    margin-left: 5%;
    margin-top: 0;
}
.work p{
    padding-left: 5px;
    padding-right: 5px;
}

.work .pic{
    margin: auto;
}

.work .links{
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 5px;
    align-items: center;
    width: 92%;
    padding: 3px;
    margin-bottom: 50px;
}
.work h4{
    margin:0;
}

.work ul{
    -moz-column-count: 3;
    -moz-column-gap: 60px;
    -webkit-column-count: 3;
    -webkit-column-gap: 60px;
    column-count: 3;
    column-gap: 60px;
}

.work a{
    text-decoration: none;
    color: white;
    background-color: #06BC9B;
    border-color: #72bda3;
    border-style: solid;
    padding: .45rem .75rem;
    font-size: .6rem;
    border-width: 1px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 3px 8px 6px  #1f685a;
}   

.work .skills{
    display: flex;
    justify-content: center;
    text-align: justify;
    list-style-position: outside;
}

.work hr{
    width: 90%;
    background-color: #94e8b4;
    border: none;
    height: 2px;
    margin-bottom: 5vw;
}

.work a:hover{
    background-color: #06BC9B;
}

@media(min-width: 700px)  {
    .work .item{
        width: 85%;
        display: flex;
        align-items: stretch;
        margin: auto;
        margin-bottom: 100px;
        border-radius: 10px;
        padding: 90px 25px;
        width: 90%;
        margin-top: 35px;
        background-color: #f5f6f7;
    }
    .work-summary{
        font-size: 18px;
        margin: auto;
    }
    .item hr{
        display: none;
    }
    hr.title{
        border: none;
        width: 90%;
        height: 2px;
    }

    .work .wrapper{
        background-color: white;
    }

    .work .text{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        flex-grow: 2;
    }
    .work .pic{
        width: 100%;
        display: flex;
        margin: 0;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .work .work-title{
        margin-top: 0;
    }

    .work .links {
        margin: auto;
        margin-bottom: 0;
        display: flex;
        align-content:flex-end;
    }
    .work .skills {
        font-size: 14px;
        margin-left: 0;
    }

    .work .links{
        align-self: flex-end
    }
  }