.work{
     display: flex;
     flex-direction: column;
     background-color: #1b3a4b;
     margin-top: 25px;
}
h3{
    color: #94e8b4;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 10%;
}
.work img {
    width: 92%;
    margin: auto;
    border: 2px solid #72bda3;
    border-radius: 5px;
    padding-bottom: 0;
    background-color: white;
}
.work p{
    padding-left: 5px;
    padding-right: 5px;

}
.work .pic{
    margin: auto;
}

.work .links{

    display: flex;
    justify-content: space-around;
    margin: auto;
    border-radius: 5px;
    align-items: center;
    width: 92%;
    padding: 3px;
}
.work h4{
    margin:0;
}

.work ul{
    padding-left: 10px;
}

.work a{
    text-decoration: none;
    color: black;
}

.work .skills{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 90%;
    list-style-position: outside;
}

#harvest{
    font-family: 'Gochi Hand', cursive;
    letter-spacing: 2px;
}
#keepbox{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
#reps{
    font-family: 'Kameron', serif;
    letter-spacing: 2px;
}

.work hr{
    width: 80%;
    background-color: #94e8b4;
    border: none;
    height: 2px;
    margin-bottom: 10vw;
}
.work a:hover{
    color: rgb(80, 78, 78);
}

@media(min-width: 700px)  {
    .work{
        width: 95%;
        margin: auto;
        margin-top: 35px;
   }
    .work .item{
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: auto;
        margin-bottom: 100px;
        border-radius: 10px;
        padding-top: 5px;
    }
    .item hr{
        display: none;
    }
    hr.title{
        border: none;
        width: 80%;
        height: 1px;
        color: #94e8b4;
        color: #94e8b4;
    }
    .work .text{
        width: 100%;
        flex-grow: 2;
    }
    .work .pic{
        width: 100%;
        display: flex;
        margin: 0;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .work .text {
        color: black;
    }
    .work .links {
        margin: auto;
        margin-bottom: 10px;
        background-color: #c9e7d4;
        padding: 10px 20px;
    }
    .work .skills {
        background-color: #72bda3;
        border-radius: 5px;
        margin: auto;
    }
    p{
        color: #94e8b4;
    }
  }